@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Russo;
  src: url(../fonts/Russo_One/RussoOne-Regular.ttf);
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../img/Ducati-Superleggera-V4-Hero.jpg) no-repeat;
  background-size: cover;
  background-color: #000;
  min-height: 100%;
  overflow-x: hidden;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

textarea.materialize-textarea:focus:not([readonly]) + label,
input[type='text']:not(.browser-default):focus:not([readonly]) + label,
input[type='email']:not(.browser-default):focus:not([readonly]) + label,
input[type='password']:not(.browser-default):focus:not([readonly]) + label {
  color: #ec407a !important;
}

.app {
  font-family: Russo, Arial, Helvetica, sans-serif;
  font-size: 1.9em;
  color: #fff;
}

h6,
p {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
}

p {
  font-size: 0.5em;
}

.book-form {
  margin-top: 20px;
}

.card-image {
  background-color: #161616;
}

.user-btn {
  width: 260px;
}

.sidenav {
  z-index: 10000;
}

.sidenav-trigger {
  background-color: #000;
  color: #fff;
  border: none;
}

#bikelist {
  margin-top: 9rem;
}

.card {
  margin: 0 0.2rem;
}

.bike-card {
  height: 25rem;
}

.error-message {
  color: #a22;
  font-size: large;
  margin-bottom: 5px;
}

@media only screen and (max-width: 464px) {
  #bikelist {
    margin-top: 2.9rem;
  }

  .card {
    margin: 0 1px;
  }
}
