@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Russo;
  src: url(../fonts/Russo_One/RussoOne-Regular.ttf);
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: fixed;
  background-color: #95e8f3;
  min-height: 100%;
  overflow-x: hidden;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input[type='text']:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type='email']:not(.browser-default):focus:not([readonly]) + label,
input[type='password']:not(.browser-default):focus:not([readonly]) + label {
  color: #ec407a !important;
}

.app {
  background-image: url(../img/Ducati-Superleggera-V4-Hero.jpg);
  height: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Russo, Arial, Helvetica, sans-serif;
  font-size: 1.9em;
  color: #fff;
}

h6 {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
}
